html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  box-sizing: 100%;
  background-color: cadetblue;
}
img {
  border-radius: 5%;
}
h2 {
  color: goldenrod;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header img {
  height: 10em;
  width: auto;
  display: flex;
  flex: 0 0 0;
}
.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projects img {
  height: 30rem;
  width: 30rem;
}
#first-image {
  height: 35rem;
  width: 35rem;
}

.projects a {
  display: flex;
  flex: 0 0 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: rgb(255, 166, 0);
  font-size: 2rem;
  margin: 2%;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(10, 171, 173);
  color: tan;
  box-sizing: 65px;
}

section {
  font-size: 25px;
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
footer a {
  text-decoration: none;
  color: rgb(255, 166, 0);
}
